:root { 
--black_900_0a:#0000000a; 
--blue_gray_300:#9ca3af; 
--indigo_50:#e2e8f0; 
--teal_800_cc:#166752cc; 
--black_900_0f:#0000000f; 
--green_800:#15803d; 
--black_900_0c:#0000000c; 
--blue_gray_300_01:#94a3b8; 
--gray_100:#f1f5f9; 
--black_900:#000000; 
--teal_800_b2:#156751b2; 
--teal_900_16:#00663316; 
--white_A700:#ffffff; 
}